<div
  class="flex bg-slate-100 text-black overflow-y-scroll w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white"
>
  <div class="flex relative w-screen">
    <app-side-menu
      [class.hidden]="!isSidebarVisible"
      class="fixed left-0 top-0 h-full w-64"
    ></app-side-menu>
    <div [class.ml-64]="isSidebarVisible" class="text-black px-2 mt-2 w-full">
      <button (click)="toggleSidebar()" class="p-1">
        @if (isSidebarVisible) {<<} @else { >>}
      </button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
